# Copy this file to .env and fill in real values
MONGODB_URI="mongodb+srv://<username>:<password>@plateful.nlonhid.mongodb.net/?retryWrites=true&w=majority&appName=Plateful"

#SONAR_TOKEN
Name=SONAR_TOKEN
Value=fbbcd1b27000eb58ea973a3a39526b688e8d0bda