# Copy this file to .env and fill in real values
MONGODB_URI="mongodb+srv://<username>:<password>@plateful.nlonhid.mongodb.net/?retryWrites=true&w=majority&appName=Plateful"

#SONAR_TOKEN
Name=SONAR_TOKEN
Value=<your-sonar-token-here>