@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Overpass", sans-serif;
    line-height: 1.5;
    color: #292d2a;
  }
}

:root {
  --Plateful-Green-Primary: #7b9300;
  --Plateful-Blue-Primary: #8272ff;
  --Plateful-Red-Primary: #ff4e02;
  --Plateful-Yellow-Primary: #ffcc02;
}

/* a {
  color: inherit;
  text-decoration: none !important;
}

a:visited {
  color: inherit;
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}

:root {
  --Plateful-Green-Primary: #7b9300;
  --Plateful-Blue-Primary: #8272ff;
  --Plateful-Red-Primary: #ff4e02;
  --Plateful-Yellow-Primary: #ffcc02;

  /* Shades and tints (TO IMPROVE) */
/* --Plateful-Green-Dark: #142601;
  --Plateful-Green-Medium: #7b9300;
  --Plateful-Green-Light: #9cd400;
  --Plateful-Green-Lightest: #d8ff99;
  --Plateful-Blue-Dark: #001be5;
  --Plateful-Blue-Darkest: #0015b0;
  --Plateful-Blue-Light: #5953ff;
  --Plateful-Red-Dark: #c02a01;
  --Plateful-Red-Light: #ffcab7;
  --Plateful-Yellow-Dark: #ff6d01;
  --Plateful-Yellow-Light: #ffedb0; */

/* General text colors */
/* --text-dark: #292d2a;
  --text-medium: #616562;
  --text-light: #aab0ab; */

/* Hovers and links (TBD)*/
/* --text-active: #669f73; */

/* Font sizes */
/* --fontsize-h1: 3rem;
  --fontsize-h2: 2.5rem;
  --fontsize-h3: 2.1rem;
  --fontsize-h4: 1.75rem;
  --fontsize-h5: 1.44rem;
  --fontsize-lrg: 1.2rem;
  --fontsize-reg: 1rem;
  --fontsize-sml: 0.8rem; */

/* Rounded corners */
/* --common-radius: 15px; */
/* } */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
} */

/* body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
  color: var(--text-dark);
  font-family: "Overpass", sans-serif;
} */

/* h1 {
  font-size: var(--fontsize-h1);
}

h2 {
  font-size: var(--fontsize-h2);
}

h3 {
  font-size: var(--fontsize-h3);
}

h4 {
  font-size: var(--fontsize-h4);
}

h5 {
  font-size: var(--fontsize-h5);
}

.general-wrapper {
  margin: 0 auto;
  width: clamp(300px, 75%, 1300px);
}

.bold-heading {
  font-weight: 900;
}

.spacer-big {
  padding: 96px 0 48px;
}

.spacer-medium {
  padding: 48px 0;
}

.spacer-small {
  padding: 24px 0;
}

section {
  margin: 0 auto;
  width: clamp(300px, 75%, 1300px);
  padding-bottom: 24px;
}

.img-logo {
  width: 80px;
  height: auto;
  display: inline-flex;
  filter: drop-shadow(3px 6px 5px #a3a3a3);
}

/* Some quick text color classes */
/*
.text-green-dark {
  color: var(--Plateful-Green-Dark);
}

.text-green {
  color: var(--Plateful-Green-Primary);
}

.text-green-medium {
  color: var(--Plateful-Green-Medium);
}

.text-red {
  color: var(--Plateful-Red-Dark);
}

.text-blue {
  color: var(--Plateful-Blue-Dark);
}

.text-yellow {
  color: var(--Plateful-Yellow-Dark);
}

.text-dark {
  color: var(--text-dark);
}

.text-medium {
  color: var(--text-medium);
}

.text-light {
  color: var(--text-light);
} */
